:root {
  --color1: #404bbf;
  --color2: #434455;
  --color3: #f4f4fd;
  --color4: #ffffff;
  --color5: #2e2f42;
  --color6: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.navigation {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
}

.navigation:hover {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #404bbf;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #4d5ae5;
}

.button:hover {
  background: #404bbf;
  cursor: pointer;
}

.item-logo {
  color: var(--color2);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.mail {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.tel {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.hero-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: #ffffff;
  background: #2e2f42;
}

.section1-h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.section1-p {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #434455;
}

.section2-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.section3-h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.section3-names {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.section3-profecions {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.footer-p {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
}

.section3 {
  background: #f4f4fd;
}

.footer {
  background: #2e2f42;
}

.footer-logo {
  color: #f4f4fd;
}

.hidden {
  visibility: hidden;
}
